<div class="edit-seller-product">
  <h2>Editar producto en inventario</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="edit-seller-product__form">
      <mat-form-field>
        <mat-label>Producto</mat-label>
        <mat-select name="productId" formControlName="productId">
          <mat-option *ngFor="let product of products" [value]="product.id">
            {{ product.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          name="quantity"
          formControlName="quantity"
          type="number"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput type="number" name="price" formControlName="price" />
      </mat-form-field>
    </div>
    <div class="edit-seller-product__form-actions">
      <button type="button" mat-button (click)="onCancelClick()">
        Cancelar
      </button>
      <button type="submit" mat-raised-button color="primary">
        Guardar
      </button>
    </div>
  </form>
</div>
