<div class="seller-products">
  <h2>Lista de productos</h2>
  <div class="seller-products__actions">
    <a routerLink="/seller/products/new" mat-raised-button color="primary"
      >Nuevo</a
    >
  </div>
  <div class="seller-products__list">
    <div class="seller-products__card" *ngFor="let s of sellerProducts">
      <div class="seller-products__image-wrapper">
        <img class="seller-products__image" src="{{ s.productImage }}" alt="" />
      </div>
      <div class="seller-products__card-content">
        <div class="seller-products__card-header">
          <span class="seller-products__card-title">{{ s.productName }}</span>
          <div class="seller-products__card-actions">
            <a
              routerLink="/seller/products/edit/{{ s.id }}"
              mat-icon-button
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <!-- <a (click)="deleteStoreProduct(s.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </a> -->
          </div>
        </div>
        <span class="seller-products__card-text">
          Cantidad:
          <span class="seller-products__card-text__accent">{{
            s.quantity
          }}</span>
        </span>
        <span class="seller-products__card-text">
          Precio unitario:
          <span class="seller-products__card-text__accent">{{ s.price }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
